/* General Header Styles */

:root{

}

*{
    font-family: "Saira Extra Condensed", sans-serif;
}

.fix-a-tag{
    text-decoration: none;
    color: #333333;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f2f2f2;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

/* Logo Styles */
.logo img {
    width: 100px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
}

/* sign-login Icon Styles */
.sign-login{
    position: absolute;
    display: inline-block;
    margin: 1px;
    right: 55px;
    float: right;
}

/* Hamburger Menu Icon Styles */
.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Hamburger Menu Styles */
.hamburger-checkbox {
    display: none;
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 50px; /* Adjust the position as needed */
    right: 20px; /* Adjust the position as needed */
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.hamburger-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hamburger-menu li {
    margin-bottom: 10px;
}

.hamburger-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Show the menu when checkbox is checked */
.hamburger-checkbox:checked + .hamburger-icon + .hamburger-menu {
    display: block;
}

/* Main Page Content Card View List */
.content-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 42px 0px 32px 0px;
}

.content {
    border: 1px solid #ccc;
    padding: 10px;
}

.content-thumbnail img {
    max-width: 100%;
    height: auto;
}

.content-details {
    display: flex;
    flex-direction: column;
}

.content-title {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.content-views {
    margin-top: auto;
    text-align: right;
}
.content-more {
    font-size: 14px;
    color: gray;
}

/* Main Paging List*/
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust this margin as needed */
    margin-bottom: 10px;
}

/* Styling for individual page buttons */
.page-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
}

.page-button:hover {
    background-color: #f0f0f0;
}

.page-button.active {
    background-color: #007bff;
    color: #fff;
}

/* Styling for ellipsis (...) */
.ellipsis {
    margin: 0 5px;
}

/* Styling for "before" and "next" links */
.before-next {
    font-weight: bold;
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.before-next:hover {
    text-decoration: underline;
}

/* footer */
footer{
    border-top: 1px solid #e4e4e4;
    background-color:#f8f9fa;
    padding:1rem 0;
    margin:1rem 0;
}

.footer-message{
    font-weight: bold;
    font-size:0.9rem;
    color:#545e6f;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
}
.footer-contact{
    font-size:0.9rem;
    color:#545e6f;
    margin:0.6rem;
}
.footer-copyright{
    font-size:0.9rem;
    color:#545e6f;
    margin:0.6rem;
}

/* Sign */
.body-login-container {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sign-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.loginbutton {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 10px;
}

/*test editor*/

#editor-container {
    border: 1px solid #ccc; /* Add a border around the editor container */
    padding: 10px; /* Add some padding for spacing */
    margin: 45px 0px 32px 0px;
}

#title-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 15px 0px;
    border: none; /* Remove the border on title input */
    border-bottom: 1px solid #ccc;
}

#text-area {
    margin: 25px 0px 25px 0px;
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    overflow: auto;
}

/*button custom.*/

.custom-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Place photo on top of text */
    width: 40px; /* Adjust the width as desired */
    height: 54px; /* Increase the height */
    background-color: #bebcc4;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-bottom: 7px;
}
.custom-button img {
    max-width: 80px; /* Adjust the maximum image width */
    max-height: 80px; /* Adjust the maximum image height */
    margin: 0 auto; /* Center the image horizontally */
}

.custom-button span {
    text-align: center; /* Center-align the text */
    font-size: 14px; /* Adjust text size if needed */
    margin-top: 5px; /* Add spacing between image and text */
}

.custom-button:hover {
    background-color: #0056b3; /* Change the background color on hover */
}

/* Style for the submit button */
.submit-button {
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #556EE6;
    padding: 8px 19px;
    margin: 14px auto; /* Center the button horizontally and add margin for spacing */

    display: block; /* Ensure the button is displayed as a block element */
    clear: both; /* Clear any floating elements (if needed) */
}

/* Style for the submit button on hover */
.submit-button:hover {
    background-color: #4E68E6; /* Change background color on hover */
}